html {
  scroll-behavior: smooth;
}

body {
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

a {
  text-decoration: none;
}

.masthead .image {
  background-color: #343a40;
}

.masthead .overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  padding: 25vh 0rem;
}


.tab .tab-img-wraper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tab .tab-img {
  width: 100%;
  height: auto;
}